.loginButton {
  background-color: white;
  color: black;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.75rem;
  cursor: pointer;
}

.loginButton > h5 {
  margin: 0;
}