.news {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: rgb(240, 240, 240);
  width: 45%;
  margin-bottom: 0.75rem;
}

.news__thumbnail {
  width: 40%;
  display: flex;
  align-items: center;
}

.news__thumbnail img {
  width: 100%;
  object-fit: cover;
}

.news__content {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.news__content__title {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news__content__owner {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.news__content__body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.read_more {
  text-align: end;
  cursor: pointer;
}

body[data-theme="dark"] .news {
  color: white;
  background-color: rgb(80,80,80);
}

@media only screen and (max-width: 1440px) {
  
  .news__content__title {
    font-size: 1.25rem;
  }
  
  .news__content__owner{
    font-size: 0.75rem;
  }
  
  .news__content__body {
    -webkit-line-clamp: 2;
    font-size: 1rem;
  }
  
}

@media only screen and (max-width: 1200px) {
  
  .news__content__title {
    -webkit-line-clamp: 1;
  }
  
  .news__content__owner{
    font-size: 0.75rem;
  }
  
  .news__content__body {
    -webkit-line-clamp: 2;
    font-size: 0.8rem;
  }
  
  .read_more {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1000px) {
  .news {
    width: 100%;
  }
}
